.btn {
    width: 200px;
    height: 40px;
    margin-right: 10px;
}
.btn-rimary {
    background-color: aqua;
    color: black;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}