<body>

  <div class="grid-container">
    <header>
      @if ((userInfo$ | async).name) {
      <div class="user__info" style="text-align: end;width: 100%;">
        {{(userInfo$ | async).name}}&nbsp;
        {{(userInfo$ | async).surrName}}
        <a class="log__out" (click)="logout()">log out</a>
      </div>
      } @else {
      <div class="user__info" style="text-align: end; width: 100%;">
        {{userData.name}}&nbsp;
        {{userData.surrName}}
        <a class="log__out" (click)="logout()">log out</a>
      </div>
      }
    </header>
    <nav class="navbar">
      <ul class="navigation__ul">
        <a class="logo" [routerLink]="['/slots']">
          <img src="assets/images/logo.svg" alt="">
        </a>
        <li class="navigation__li">
          <a class="navigation__a" [routerLink]="['/slots']" routerLinkActive="active">
            <img src="assets/images/slot-icon.svg" alt="">
            slots
          </a>
        </li>
        <li class="navigation__li">
          <a class="navigation__a" routerLink="counter" routerLinkActive="active">
            <img src="assets/images/casino-icon.svg" alt="">
            counter
          </a>
        </li>
        <li class="navigation__li">
          <a class="navigation__a" routerLink="signals" routerLinkActive="active">
            <img src="assets/images/casino-icon.svg" alt="">
            signals
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>