<body>

  <div class="grid-container">
    <header>
    </header>
    <nav class="navbar">
      <ul class="navigation__ul">
        <a class="logo" [routerLink]="['/']">
          <img src="assets/images/logo.svg" alt="">
        </a>
        <li class="navigation__li">
          <a class="navigation__a" [routerLink]="['/slots']" routerLinkActive="active">
            <img src="assets/images/slot-icon.svg" alt="">
            slots
          </a>
        </li>
        <li class="navigation__li">
          <a class="navigation__a">
            <img src="assets/images/casino-icon.svg" alt="">
            casino
          </a>
        </li>
      </ul>
    </nav>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>