<div id="w-node-_468d3b86-4161-b1a7-2154-5a5e5959fcb3-73027ede" class="service-grid-container">
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">Email Management</p>
            <p class="grey">Elevate your email marketing with Mattered's strategic approach, utilizing the latest in
                segmentation and personalization. We ensure your emails engage and convert, with continuous
                optimizations based on performance insights to keep your strategy sharp and effective.</p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">SMS Management</p>
            <p class="grey">Direct and impactful, our SMS management service ensures your messages reach your audience
                promptly. By blending targeted messaging with nuanced performance analysis, we create immediate
                connections, driving engagement and conversions efficiently.</p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">Meta Ads</p>
            <p class="grey">Optimize your presence on Facebook and Instagram with our expert Meta Ads management.
                Mattered focuses on maximizing your ad spend, targeting the audiences most likely to engage and convert.
                Through data-driven optimizations, we refine your strategy for substantial ROI.</p>
            <p class="grey medium hide">from <span class="text-span-7">$7,500 / m</span></p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">TikTok Ads</p>
            <p class="grey">Capture attention in the dynamic TikTok landscape with creatively crafted campaigns that
                drive action. Mattered's approach combines creativity with strategic testing to ensure your content not
                only captures attention but also achieves your marketing objectives.</p>
            <p class="grey medium hide">from <span class="text-span-7">$7,500 / m</span></p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">Pinterest Ads</p>
            <p class="grey">Unlock Pinterest's potential with ads that inspire and convert. Mattered leverages the
                platform's visual appeal, crafting content that resonates with your target audience. Strategic content
                adjustments based on engagement data ensure your campaigns continuously improve and perform.</p>
            <p class="grey medium hide">from <span class="text-span-7">$7,500 / m</span></p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">Pinterest Organic</p>
            <p class="grey">Build your brand's presence organically on Pinterest with Mattered's expertise. Through
                strategic content curation and optimization, we connect you with an audience seeking inspiration,
                employing insights from performance data to enhance visibility and engagement.</p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">Photoshoots</p>
            <p class="grey">Our professional photoshoots breathe life into your brand's story. Mattered captures the
                essence of your products with every shot, ensuring visuals that not only attract but also convert.
                Strategic content selection based on performance feedback ensures your visuals remain impactful.</p>
            <p class="grey medium hide">from <span class="text-span-7">$7,500 / m</span></p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">Ad Creative</p>
            <p class="grey">Elevate your ad creative with Mattered, where innovation meets insight. Our creative team
                designs compelling ad visuals and copy, optimized through performance feedback to ensure your campaigns
                strike the right note and drive desired actions.</p>
            <p class="grey medium hide">from <span class="text-span-7">$7,500 / m</span></p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">Shopify Development </p>
            <p class="grey">Revolutionize your online store with Mattered's Shopify development services. From custom
                themes to feature enhancements, our team employs a data-driven approach to optimize user experience and
                conversion rates, ensuring your ecommerce platform stands out in the digital marketplace.</p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4">
        <div class="service-inner-container">
            <p class="large-p">UI/UX</p>
            <p class="grey">Transform your digital interfaces with Mattered's UI/UX design expertise. We prioritize user
                experience, crafting intuitive and engaging interfaces that not only look stunning but also function
                seamlessly. Our design process is informed by user feedback and behavioral data, ensuring that we
                continually refine and enhance the user journey to meet and exceed user expectations and drive
                conversions.<br></p>
        </div>
    </div>
    <div class="_2023-service-div service-sticky-4 last">
        <div class="service-inner-container">
            <p class="large-p">&amp;&nbsp;More!</p>
            <p class="grey">Mattered's digital problem-solving extends beyond the listed services. With a foundation
                built on tailored solutions and performance optimization, we're equipped to enhance every aspect of your
                brand's digital journey, ensuring seamless customer experiences across all touchpoints. We let the data
                do the talking and adjust accordingly allowing us to take an objective approach ensuring maximum
                ROI&nbsp;for our clients. There is no room for ego!<br></p>
            <div class="hor-divider"></div><a data-w-id="c48c92e8-9f83-37af-c7c0-d21e80bd503a" href="/about"
                class="btn-outline w-inline-block">
                <div class="btn-holder outline">
                    <div class="btn-text-container">
                        <div class="btn-text-default"
                            style="transform: translate3d(0px, 110%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            View All&nbsp;&nbsp;→</div>
                        <div class="btn-text"
                            style="transform: translate3d(0px, 0%, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                            View All&nbsp;&nbsp;→</div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>