/* You can add global styles to this file, and also import other style files */
.grid-container {
  display: grid;
  grid-template-columns: 80px 1fr; /* Sidebar and Content areas */
  grid-template-rows: 80px 1fr;
  grid-template-areas: "sidebar header" "sidebar content";
  min-height: 100vh;
}

header {
  grid-area: header;
  background-color: #252b33;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

nav {
  grid-area: sidebar;
  padding: 10px;
  background-color: #2a3139;
}

main {
  grid-area: content;
  padding: 8px;
  background-color: #1a1e23;
}

.navigation__ul {
  position: sticky;
  top: 10px;
}
.navigation__ul .logo {
  margin-bottom: 40px;
}
.navigation__ul .navigation__li {
  margin-top: 40px;
}
.navigation__ul .navigation__li .navigation__a {
  color: #6a7787;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.navigation__ul .navigation__li .navigation__a.active {
  filter: brightness(0) invert(1) grayscale(100%) contrast(100%);
}
.navigation__ul .navigation__li .navigation__a img {
  margin-bottom: 8px;
}

body {
  margin: 0;
  font-family: google-font;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  list-style-type: none;
}

a {
  list-style-type: none;
  text-decoration: none;
}

.banner__section {
  min-height: 420px;
  height: 200px;
  background-image: url(/assets/images/banner.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.slot-grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
@media screen and (max-width: 1400px) {
  .slot-grid-container {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media screen and (max-width: 1220px) {
  .slot-grid-container {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media screen and (max-width: 1024px) {
  .slot-grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media screen and (max-width: 900px) {
  .slot-grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 720px) {
  .slot-grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

.grid-item {
  margin: 5px 0;
  display: flex;
  align-items: end;
  justify-content: center;
  background-color: #1a1e23;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 180px;
  position: relative;
}
.grid-item .text {
  background-color: #272d36;
  width: 100%;
  color: #fff;
  min-height: 38px;
  padding: 5px;
  font-size: 14px;
  display: flex;
  align-items: center;
  transition: 0.3s;
}
.grid-item .play__overlay {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: calc(100% - 48px);
  z-index: 15;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.grid-item .play__overlay .play__button {
  background-color: #15AF44;
  color: #fff;
  border: none;
  width: 80%;
  height: 36px;
  cursor: pointer;
  border-radius: 4px;
}
.grid-item:hover .play__overlay {
  visibility: visible;
  opacity: 1;
}
.grid-item:hover .text {
  background-color: #454D57;
}

.grid-item:first-child {
  grid-column: span 2;
  grid-row: span 2;
}
@media screen and (max-width: 720px) {
  .grid-item:first-child {
    grid-column: span 1;
    grid-row: span 1;
  }
}

.category__section {
  background-color: #272d36;
  position: relative;
}
.category__section .slot__categories {
  max-height: 53px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
  transition: max-height 0.3s ease-in-out;
  max-width: 95%;
}
@media screen and (max-width: 1400px) {
  .category__section .slot__categories {
    width: 90%;
  }
}
.category__section .slot__categories .slot-category {
  min-height: 53px;
  color: #fff;
  margin: 0 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}
.category__section .slot__categories .slot-category::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -4px;
  width: 0;
  background-color: #15AF44;
  height: 8px;
  border-radius: 10px;
  transition: 0.3s;
}
.category__section .slot__categories .slot-category.active::after {
  left: 0;
  width: 100%;
}
.category__section .slot__categories.active {
  max-height: 1000px;
  overflow: visible;
}
.category__section .slot__categories.active .see__more img {
  transform: rotate(180deg);
}
.category__section .slot__categories .see__more {
  color: #fff;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
  z-index: 100;
}
.category__section .slot__categories .see__more img {
  transition: 0.3s;
}

.loader__content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}
.loader__content .loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@font-face {
  font-family: "google-font";
  src: url("/assets/fonts/google-font.ttf") format("truetype");
}/*# sourceMappingURL=styles.css.map */